<!--Se escribe ! para poder generar la estructura base de un archivo html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
       <img src="public/images/logo-mercado-liebre.svg " alt="Logo">

       <div>Lugar para poner la barra de búsqueda</div><br>

       <div>Compra en cuotas y sin tarjeta de crédito</div>

       <ul>
           <a href=""><li>Ofertas</li></a>
           <a href=""><li>Tiendas Oficiales</li></a>
           <a href=""><li>Vender</li></a>
           <a href=""><li>Ayudar</li></a>
       </ul>

       <ul>
           <a href=""><li>Crea tu cuenta</li></a>
           <a href=""><li>Ingresa</li></a>
           <a href=""><li>Mis compras</li></a>
       </ul>

   </header>

   <main>

   </main> 

   <footer>

   </footer>
</body>

</html>